# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# Database
# =========================
*.sql~
*.db
.pgdata/
postgres-data/
db-data/

# =========================
# Build artifacts
# =========================
dist/
build/
coverage/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Zip / Archive
# =========================
*.zip

# =========================
# file personali
# =========================
*.docx
*.txt
